@use "index" as *;
.container {
  container-name: main;
  container-type: inline-size;
}

.container-query-sm {
  @include container-query("main", "min", "sm") {
    background-color: lightyellow;
  }
  @include container-query("main", "max", "sm") {
    background-color: lightyellow;
  }
}

.container-query-md {
  @include container-query("main", "min", "md") {
    background-color: lightyellow;
  }
  @include container-query("main", "max", "md") {
    background-color: lightyellow;
  }
}

.container-query-lg {
  @include container-query("main", "min", "lg") {
    background-color: lightyellow;
  }
  @include container-query("main", "max", "lg") {
    background-color: lightyellow;
  }
}

.container-query-1234 {
  @include container-query("main", "min", 1234) {
    background-color: lightyellow;
  }
  @include container-query("main", "max", 1234) {
    background-color: lightyellow;
  }
}
