.video {
  position: relative;
}
.video::before {
  content: "";
  padding-top: 56.25%;
  float: left;
}
.video::after {
  content: "";
  display: block;
  clear: both;
}
.video > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}