@media (hover: hover) and (pointer: fine) {
  .hover-focus:hover {
    background-color: blue;
  }
}
.hover-focus:focus-visible {
  background-color: blue;
}

@media (hover: hover) and (pointer: fine) {
  .hover:hover {
    background-color: red;
  }
}

.focus:focus-visible {
  background-color: green;
}

.hover-focus-none:hover {
  background-color: blue;
}