.line-height::before, .line-height::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.line-height::before {
  margin-top: calc((1 - 1.5) * 0.5em);
}
.line-height::after {
  margin-bottom: calc((1 - 1.5) * 0.5em);
}