.pt-8 {
  padding-top: 8px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pr-32 {
  padding-right: 32px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.px-8 {
  padding: 0 8px !important;
}

.px-16 {
  padding: 0 16px !important;
}

.px-24 {
  padding: 0 24px !important;
}

.px-32 {
  padding: 0 32px !important;
}

.px-40 {
  padding: 0 40px !important;
}

.py-8 {
  padding: 8px 0 !important;
}

.py-16 {
  padding: 16px 0 !important;
}

.py-24 {
  padding: 24px 0 !important;
}

.py-32 {
  padding: 32px 0 !important;
}

.py-40 {
  padding: 40px 0 !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mx-8 {
  margin: 0 8px !important;
}

.mx-16 {
  margin: 0 16px !important;
}

.mx-24 {
  margin: 0 24px !important;
}

.mx-32 {
  margin: 0 32px !important;
}

.mx-40 {
  margin: 0 40px !important;
}

.my-8 {
  margin: 8px 0 !important;
}

.my-16 {
  margin: 16px 0 !important;
}

.my-24 {
  margin: 24px 0 !important;
}

.my-32 {
  margin: 32px 0 !important;
}

.my-40 {
  margin: 40px 0 !important;
}

@media screen and (max-width: 768px) {
  .pt-md-8 {
    padding-top: 8px !important;
  }
  .pt-md-16 {
    padding-top: 16px !important;
  }
  .pt-md-24 {
    padding-top: 24px !important;
  }
  .pt-md-32 {
    padding-top: 32px !important;
  }
  .pt-md-40 {
    padding-top: 40px !important;
  }
  .pr-md-8 {
    padding-right: 8px !important;
  }
  .pr-md-16 {
    padding-right: 16px !important;
  }
  .pr-md-24 {
    padding-right: 24px !important;
  }
  .pr-md-32 {
    padding-right: 32px !important;
  }
  .pr-md-40 {
    padding-right: 40px !important;
  }
  .pb-md-8 {
    padding-bottom: 8px !important;
  }
  .pb-md-16 {
    padding-bottom: 16px !important;
  }
  .pb-md-24 {
    padding-bottom: 24px !important;
  }
  .pb-md-32 {
    padding-bottom: 32px !important;
  }
  .pb-md-40 {
    padding-bottom: 40px !important;
  }
  .pl-md-8 {
    padding-left: 8px !important;
  }
  .pl-md-16 {
    padding-left: 16px !important;
  }
  .pl-md-24 {
    padding-left: 24px !important;
  }
  .pl-md-32 {
    padding-left: 32px !important;
  }
  .pl-md-40 {
    padding-left: 40px !important;
  }
  .px-md-8 {
    padding: 0 8px !important;
  }
  .px-md-16 {
    padding: 0 16px !important;
  }
  .px-md-24 {
    padding: 0 24px !important;
  }
  .px-md-32 {
    padding: 0 32px !important;
  }
  .px-md-40 {
    padding: 0 40px !important;
  }
  .py-md-8 {
    padding: 8px 0 !important;
  }
  .py-md-16 {
    padding: 16px 0 !important;
  }
  .py-md-24 {
    padding: 24px 0 !important;
  }
  .py-md-32 {
    padding: 32px 0 !important;
  }
  .py-md-40 {
    padding: 40px 0 !important;
  }
  .mt-md-8 {
    margin-top: 8px !important;
  }
  .mt-md-16 {
    margin-top: 16px !important;
  }
  .mt-md-24 {
    margin-top: 24px !important;
  }
  .mt-md-32 {
    margin-top: 32px !important;
  }
  .mt-md-40 {
    margin-top: 40px !important;
  }
  .mr-md-8 {
    margin-right: 8px !important;
  }
  .mr-md-16 {
    margin-right: 16px !important;
  }
  .mr-md-24 {
    margin-right: 24px !important;
  }
  .mr-md-32 {
    margin-right: 32px !important;
  }
  .mr-md-40 {
    margin-right: 40px !important;
  }
  .mb-md-8 {
    margin-bottom: 8px !important;
  }
  .mb-md-16 {
    margin-bottom: 16px !important;
  }
  .mb-md-24 {
    margin-bottom: 24px !important;
  }
  .mb-md-32 {
    margin-bottom: 32px !important;
  }
  .mb-md-40 {
    margin-bottom: 40px !important;
  }
  .ml-md-8 {
    margin-left: 8px !important;
  }
  .ml-md-16 {
    margin-left: 16px !important;
  }
  .ml-md-24 {
    margin-left: 24px !important;
  }
  .ml-md-32 {
    margin-left: 32px !important;
  }
  .ml-md-40 {
    margin-left: 40px !important;
  }
  .mx-md-8 {
    margin: 0 8px !important;
  }
  .mx-md-16 {
    margin: 0 16px !important;
  }
  .mx-md-24 {
    margin: 0 24px !important;
  }
  .mx-md-32 {
    margin: 0 32px !important;
  }
  .mx-md-40 {
    margin: 0 40px !important;
  }
  .my-md-8 {
    margin: 8px 0 !important;
  }
  .my-md-16 {
    margin: 16px 0 !important;
  }
  .my-md-24 {
    margin: 24px 0 !important;
  }
  .my-md-32 {
    margin: 32px 0 !important;
  }
  .my-md-40 {
    margin: 40px 0 !important;
  }
}